Library/
Temp/
.vscode/
obj/
Assets/AssetStoreTools/
Assets/AssetStoreTools.meta
Assets/Calligraphy/
Assets/Calligraphy.meta
Assets/Support/
Assets/Support.meta
Assets/NatCamSupport/
Assets/NatCamSupport.meta
Assets/Plugins/
Assets/Plugins.meta